<div class="row">
	<div class="col-12 cate-unit">
		<a routerLink="/category/add" class="btn btn-sm btn-success">Thêm mới</a>
	</div>

	<div class="col-4 cate-unit" *ngFor="let cate of categories">
		<div class="text-center">
			<img [src]="cate.image" class="img-fluid">
		</div>
		<h5>
			<a href="" title="">{{cate.name}}</a>
		</h5>
		<div class="text-center">
			<a href="" routerLink="cate-edit/{{cate.id}}" class="btn btn-info"> Sửa</a>
			&nbsp;
			<button type="button" 
				(click)="removeCategory(cate)"
				class="btn btn-sm btn-danger">Xóa</button>
		</div>
	</div>
</div>